
{{ $p := .Page }}
{{ $file := .Get "file" }}
{{ $language := .Get "language" }}
{{ $ghlink := .Get "ghlink" }}
{{/* TODO(bep) k8slink ? also ghlink https://raw.githubusercontent.com/kubernetes/kubernetes/blob/{{page.githubbranch}} */}}
{{ $fileDir := path.Split $file }}
{{ $bundlePath := path.Join .Page.Dir $fileDir.Dir }}
{{/* First assume this is a bundle and the file is inside it. */}}
{{ $resource := $p.Resources.GetMatch (printf "**%s*" $fileDir.File) }}
{{ with $resource }}
{{ $.Scratch.Set "content" .Content }}
{{ else }}
{{/* Read the file relative to the content root. */}}
{{ $filename := path.Join $p.Dir $file }}
{{ $resource := readFile $filename}}
{{ with $resource }}{{ $.Scratch.Set "content" . }}{{ end }}
{{ end }}
{{ if not ($.Scratch.Get "content") }}
{{ errorf "[%s] %q not found in %q" $p.Site.Language.Lang $fileDir.File $bundlePath }}
{{ end }}
{{ with $.Scratch.Get "content" }}
<table class="includecode">
    <thead>
        <tr>
            <th>
                {{ with $ghlink }}<a href="{{ . }}" download="{{ $file }}">{{ end }}
                    <code>{{ $file }} {{ $bundlePath }}</code>
                {{ if $ghlink }}</a>{{ end }}
                <img src="{{ "images/copycode.svg" | relURL }}" style="max-height:24px" onclick="copyCode('{{ $file }}')" title="Copy {{ $file }} to clipboard">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ highlight . $language "" }}  </td>
        </tr>
    </tbody>
</table>
{{ end }}
